/* Universal Selector */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 24px;
}

#first > h2 {
  color: brown;
}
#first,
#third {
  color: #197278;
  /* background-color: rgb(51, 31, 70); */
  font-family: "Monotype Corsiva", cursive !important;
}

/* #third > p {
  font-style: italic;
} */
.pink {
  background-color: #2e4057;
  font-family: monospace;
}

/* .highlight {
  font-weight: bold;
  text-decoration: underline;
} */

/* Specificity Order
    ## I(id) > C(class) > E(element)
*/
